<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace约定为接口的全限定名-->
<mapper namespace="org.ymall.mapper.SpuInfoMapper">
    <resultMap id="pageMap" type="org.ymall.model.SkuSpuInfo">
        <id column="id" property="id"/>
        <result column="price" property="price"/>
        <result column="sku_name" property="skuName"/>
        <result column="spu_id" property="spuId"/>
        <!-- column="{spu_id=spuId}" 左表是主表的spu_id,右边十实体类子表的id -->
        <collection property="spuInfos" ofType="org.ymall.model.SpuAttr" column="spu_id" select="selectSpuInfo">
        </collection>
    </resultMap>

    <select id="selectSpuInfo" resultType="org.ymall.model.SpuAttr">
        select *
        from spu_info spu
                 left join spu_sale_attr at
        on spu.id = at.spu_id where spu.id = #{spu_id}
    </select>

    <select id="page" resultMap="pageMap">
        select sku.id ,sku.price, sku.spu_id,sku.sku_name from sku_info sku
    </select>


</mapper>